.hige {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3 {
  color: #2e2f42;
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding-left: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;

  /* margin-right: auto; */
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin-left: auto;
  border: none;
  background-color: inherit;
}
@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.header-ul {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .header-ul {
    display: none;
  }
}
.navi {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi:hover,
.navi:focus {
  color: #404bbf;
}
.navi.active {
  color: #404bbf;
}
.navi.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
}
.adr {
  font-style: normal;
}
.adress-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
@media only screen and (min-width: 1158px) {
  .adress-ul{
    flex-direction: row;
    gap: 40px;
  }
}
.adress {
  font-size: 12px;
  font-weight: 400;
  line-height: 1, 17;
  letter-spacing: 0.04em;
  font-weight: 400;

  color: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 1158px) {
  .adress {
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
  }
}
@media only screen and (max-width: 767.98px) {
  .adress {
    display: none;
  }
}
.adress:hover,
.adress:focus {
  color: #404bbf;
}
.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 72px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 42px 72px 42px;
  max-width: 496px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.abaut-box {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.abaut-li {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .abaut-box {
    gap: 72px 24px;
  }
  .abaut-li {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .abaut-box {
    gap: 24px;
  }
  .abaut-li {
    width: calc((100% - 72px) / 4);
  }
}

.abaut-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1157.98px) {
  .abaut-wrapper {
    display: none;
  }
}
.abaut-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1158px) {
  .abaut-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }
}
.abaut-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
@media only screen and (max-width: 1157.98px) {
  .abaut-text {
    font-weight: 500;
  }
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}
.team-box {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.list {
  max-width: 264px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .team-box {
    gap: 64px 24px;
  }
  .list {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .team-box {
    gap: 24px;
  }
  .list {
    width: calc((100% - 72px) / 4);
  }
}
.team-segn {
  padding: 32px 0;
}
.team-titles {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.team-socials,
.mobile-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-socials-item,
.mobile-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link,
.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover,
.team-socials-link:focus,
.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: currentColor;
}
.portf {
  background-color: #fff;
}
.portfolio {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-cards {
  width: 100%;
  border: 1px solid #f4f4fd;
}

@media only screen and (max-width: 1157.98px) {
  .portfolio-cards {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .overlay-text {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-box {
    gap: 72px 24px;
  }
  .portfolio-cards {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-box {
    gap: 48px 24px;
  }
  .portfolio-cards {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-cards:hover,
  .portfolio-cards:focus {
    transform: translateY(0%);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
  }
  .portfolio-cards:hover .overlay-text {
    transform: translateY(0);
  }
}

.portfolio-segn {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-titles {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
  
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-wrapper {
  display: flex;
  
}
@media only screen and (max-width: 767.98px) {
  .footer-wrapper{
    flex-direction: column;
    gap: 72px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 108px;
    gap: 24px 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrapper {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}
.footer-box {
  
}
@media only screen and (min-width: minwidthpx) {
  .footer-box {
     margin-right: 120px;
  }
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
  text-align: left;
}
.footer-social-title {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
@media only screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: auto;
  }     
  
}
.subscribe-caption {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 16px;
  
}
@media only screen and (max-width: 767.98px) {
  .subscribe-form {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe-form{
    gap: 24px;
  }
}
.subscribe-form-field {
}
.subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-input::placeholder {
  color: currentColor;
}
.subscribe-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn,
.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  color: #e7e9fc;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 767.98px) {
  .menu-close-btn {
    background-color: transparent;
  }
}
.modal-btn-icon,
.menu-clocse-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-btn:hover > .modal-btn-icon,
.modal-btn:focus > .modal-btn-icon {
  fill: #ffffff;
}

.modal-caption {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form {
}
.form-wrapper {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-textarea {
  margin-bottom: 16px;
}
.form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message:focus {
  border-color: #4d5ae5;
}
.form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-checkbox {
  margin-bottom: 24px;
}
.form-agreement {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
}
.form-agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.checkbox:focus + .form-agreement > .form-agreement-checkbox {
  border-color: #4d5ae5;
}
.checkbox:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-agreement-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .form-agreement .form-agreement-icon {
  opacity: 1;
}
.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-btn {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:focus,
.form-btn:hover {
  background-color: #404bbf;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background-color: #fff;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.menu-ul {
  margin-bottom: auto;
}
.menu-item {
}
.menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.menu-link {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.menu-link.active {
  color: #404bbf;
}
.menu-adress-items {
  margin-bottom: 48px;
}
.menu-adress-item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-adress-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-adress-link.accent {
  color: #4d5ae5;
}
.mobile-menu > .mobile-socials {
  gap: 40px;
}
